
// Color
$blue: #0099da;
$medium_grey: #C1C3C3;
$green: #417505;

$break: 800px;

// 8 pix sizes
$xxs: 4px;
$xs: 8px;
$s: 16px;
$xm: 24px;
$m: 32px;
$l: 40px;
$xl: 64px;

// Typography
$regular: 400;
$bold: 600;
$black: 900;

// Testing Colors
$testing_color_1: rgba(255,130,130,0.56); //red
$testing_color_2: rgba(255,200,143,0.53); //orange
$testing_color_3: rgba(167,199,255,0.50); //blue

body {
  font-family: 'Playfair Display', serif;
  font-weight: $regular;
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  margin: auto;
  @media (max-width: $break) {
    flex-direction: column;
  }

}

img {
  width: 100%;
  height: auto;
  margin-top: $m;
  @media ( max-width: $break ) {
    margin-top: $xxs;
  }
}

h1 {
  font-size: $l;
  font-weight: $regular;
  margin-bottom: $s;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: $s;
  font-weight: 100;
  margin-top: $s;
  margin-bottom: $s;
  a {
    color: #3B0001;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: #FE6467;
  }
}

p {
  font-size: $xs;
  margin-bottom: $xs;
}

#circle {
  animation: red 3s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes red {
  0% {
    fill: white;
  }
  50% {
    fill: #FE6467;
  }
  90% {
    fill: white;
  }
}

#about-mobile {
  visibility: hidden;
  width: 0;
  font-size: 124px;
  color: rgba(71,137,159, 1);
  @media ( max-width: $break ) {
    a {
      font-family: "Playfair Display script=all rev=1", "Adobe Blank";
      font-style: italic;
      font-weight: 900;
      text-decoration: none;
      color: #FE6467;
    }
    padding: $m $m $m $m;
    visibility: visible;
    width: auto;
    h1 {
      margin: 0;
    }
  }
}

#info {
  margin-top: $m;
  margin-left: $m;
  margin-right: 80px + $m;
  svg {
    position: fixed;
  }
  @media ( max-width: $break ) {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
  }
}


#content {
  padding: 0 $m $s 0;
  @media ( max-width: $break ) {
    padding: 0 $m 0 $m;
  }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(71,137,159, 0.9);
    overflow-x: hidden;
    // transition: 0.1s;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 80%;
    margin-top: 0px;
    padding: 0 $l $l $l;
    h1 {
      margin-top: 0;
      font-weight: 400;
      font-size: 156px;
      line-height: 172px;
      color: #fff;
      text-align: left;
      @media ( max-width: 1000px ) {
        font-size: 64px;
        line-height: 72px;
      }
      @media ( max-width: 460px ) {
        font-size: 36px;
        line-height: 48px;
      }
    }
}

.overlay a {
    font-family: "Playfair Display script=all rev=1", "Adobe Blank";
    font-size: 184px;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
    color: #FE6467;
    // display: block;
    transition: 0.3s;
    @media ( max-width: 1000px ) {
      font-size: 72px;
    }
    @media ( max-width: 460px ) {
      font-size: 40px;
    }
}

.overlay a:hover, .overlay a:focus {
    color: #FF9698;
}

.overlay .closebtn {
    position: absolute;
    top: 5%;
    right: $xl;
    font-size: 50px;
    font-style: normal;
    @media ( max-width: $break ) {
      visibility: hidden;
    }
}
